* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #1f2937;
  font-family: "Courier New", Courier, monospace;
}
.navbar {
  background-color: #1f2937;
  padding: 20px 300px;
}

a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
}

.navbar .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-links {
  list-style: none;
  color: #fff;
  display: flex;
  gap: 10px;
  margin-left: 20px;
}

.header-links li {
  border-right: 5px solid #3882f6;
  padding: 0 10px;
}

.header-links li:last-child {
  border: none;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
  margin-right: 20px;
  width: 300px;
  height: 150px;
}
/* Header CSS */
.header {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
  background-color: #1f2937;
  display: flex;
  flex-flow: wrap;
  align-items: center;
  margin-top: 100px;
  padding: 20px 100px;
}
.header h1 {
  margin: 10px 0;
  margin-right: 300px;
}
.header .subtext {
  font-size: 18px;
  color: #e5e7eb;
}

.header .sign-up {
  background-color: #3882f6;
  color: #e5e7eb;
  padding: 10px;
  border-radius: 25px;
  width: 150px;
  height: 50px;
}

.header img {
  max-width: 600px;
}

.images {
  background-color: #f9faf8;
  margin-top: 100px;
  padding-bottom: 50px;
}
.images h1 {
  font-size: 36px;
  text-align: center;
  font-weight: bolder;
  color: #1f2937;
  padding: 50px;
}
.images .container {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 300px;
  justify-content: center;
}

.image-frame {
  border-radius: 25px;
  border: 5px solid #3882f6;
  padding: 20px;
  width: 500px;
  height: 300px;
  margin: 0 25px;
}

.images .subtext {
  font-size: 18px;
  margin-top: 25px;
  text-align: center;
  padding: 50px 0;
}

.quote {
  background-color: #e5e7eb;
  padding: 100px 300px;
  font-size: 36px;
  font-style: italic;
  color: #1f2937;
}

.quote h2 {
  text-align: end;
  font-size: 30px;
  margin-right: 5%;
}

.call-to-action {
  padding: 100px 300px;
  background-color: #f9faf8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.call-to-action .container {
  height: 125px;
  border-radius: 10px;
  background-color: #3882f6;
  display: flex;
  flex-flow: wrap column;
  align-items: flex-start;
  justify-content: center;
  flex: 2;
  color: #e5e7eb;
  font-size: 24px;
  padding: 100px;
}

.text h2 {
  margin-bottom: 10px;
}
.call-to-action-button {
  align-self: flex-end;
  border: 3px solid #e5e7eb;
  background-color: transparent;
  padding: 10px;
  border-radius: 15px;
  width: 150px;
  height: 50px;
  color: #e5e7eb;
  font-size: 20px;
  font-weight: bold;
}

footer {
  padding: 0 300px;
  text-align: center;
  margin: 25px 0;
  color: #e5e7eb;
  font-size: 24px;
}
