* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #1f2937;
  font-family: "Courier New", Courier, monospace;
}
.navbar {
  background-color: #1f2937;
  padding: 20px 300px;
}

a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
}

.navbar .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-links {
  list-style: none;
  color: #fff;
  display: flex;
  gap: 10px;
  margin-left: 20px;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
  margin-right: 20px;
}
/* Header CSS */
.header {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
  background-color: #1f2937;
  display: flex;
  flex-flow: wrap;
  align-items: center;
  margin-top: 100px;
  padding: 20px 100px;
}
.header h1 {
  margin: 10px 0;
  margin-right: 300px;
}
.header .subtext {
  font-size: 18px;
  color: #e5e7eb;
}

.header .sign-up {
  background-color: #3882f6;
  color: #e5e7eb;
  padding: 10px;
  border-radius: 25px;
  width: 150px;
  height: 50px;
}

.header img {
  max-width: 600px;
}

.images {
  background-color: #f9faf8;
  margin-top: 100px;
}
.images h1 {
  font-size: 36px;
  text-align: center;
  font-weight: bolder;
  color: #1f2937;
  padding: 50px;
}
.images .container {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 300px;
  justify-content: center;
}

.image-frame {
  border-radius: 25px;
  border: 5px solid #3882f6;
  padding: 20px;
  width: 500px;
  height: 300px;
  margin: 0 25px;
}

.images .subtext {
  font-size: 18px;
  margin-top: 25px;
  text-align: center;
}
